/Angular
tonyNO.txt
PrroNO.txt
/RFID
SASERCON DRIVE.lnk
/Proyecto/Interfaces/Interfaces/build/
/Proyecto/Interfaces/asd/nbproject/private/
/Proyecto/Interfaces/POO_1501_19/nbproject/private/
Proyecto/Escritorio/SASERCON/build/classes/Aldo/ingresarProducto.class
Proyecto/Escritorio/SASERCON/build/classes/Aldo/ingresarProducto.class
Proyecto/Escritorio/SASERCON/build/classes/Aldo/ingresarServicios.class
*.class
Proyecto/Escritorio/SASERCON/src/interfaces/IngresarProducto.form
Proyecto/Escritorio/SASERCON/src/interfaces/IngresarProducto.java
Proyecto/Escritorio/SASERCON/src/interfaces/ingresarProducto_1.form
