<component name="libraryTable">
  <library name="Log4j">
    <CLASSES>
      <root url="jar://$PROJECT_DIR$/lib/Log4j/log4j-slf4j-impl-2.12.1-javadoc.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/Log4j/log4j-web-2.12.1-javadoc.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/Log4j/log4j-1.2-api-2.12.1-javadoc.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/Log4j/log4j-slf4j18-impl-2.12.1-sources.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/Log4j/log4j-to-slf4j-2.12.1-sources.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/Log4j/log4j-taglib-2.12.1.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/Log4j/log4j-jdbc-dbcp2-2.12.1-javadoc.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/Log4j/log4j-cassandra-2.12.1-javadoc.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/Log4j/log4j-api-2.12.1-javadoc.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/Log4j/log4j-couchdb-2.12.1-javadoc.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/Log4j/log4j-jpa-2.12.1.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/Log4j/log4j-jcl-2.12.1.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/Log4j/log4j-taglib-2.12.1-sources.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/Log4j/log4j-jul-2.12.1.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/Log4j/log4j-liquibase-2.12.1-sources.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/Log4j/log4j-core-2.12.1-javadoc.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/Log4j/log4j-spring-cloud-config-client-2.12.1-sources.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/Log4j/log4j-mongodb3-2.12.1-sources.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/Log4j/log4j-docker-2.12.1-sources.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/Log4j/log4j-iostreams-2.12.1-javadoc.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/Log4j/log4j-flume-ng-2.12.1-sources.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/Log4j/log4j-appserver-2.12.1-javadoc.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/Log4j/log4j-docker-2.12.1-javadoc.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/Log4j/log4j-appserver-2.12.1.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/Log4j/log4j-flume-ng-2.12.1.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/Log4j/log4j-iostreams-2.12.1-sources.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/Log4j/log4j-mongodb2-2.12.1.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/Log4j/log4j-flume-ng-2.12.1-javadoc.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/Log4j/log4j-api-2.12.1-sources.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/Log4j/log4j-iostreams-2.12.1.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/Log4j/log4j-appserver-2.12.1-sources.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/Log4j/log4j-web-2.12.1-sources.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/Log4j/log4j-mongodb3-2.12.1.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/Log4j/log4j-jmx-gui-2.12.1.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/Log4j/log4j-docker-2.12.1.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/Log4j/log4j-to-slf4j-2.12.1-javadoc.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/Log4j/log4j-jdbc-dbcp2-2.12.1.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/Log4j/log4j-jcl-2.12.1-javadoc.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/Log4j/log4j-jmx-gui-2.12.1-sources.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/Log4j/log4j-core-2.12.1-sources.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/Log4j/log4j-couchdb-2.12.1-sources.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/Log4j/log4j-liquibase-2.12.1-javadoc.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/Log4j/log4j-jdbc-dbcp2-2.12.1-sources.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/Log4j/log4j-slf4j-impl-2.12.1-sources.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/Log4j/log4j-taglib-2.12.1-javadoc.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/Log4j/log4j-core-2.12.1.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/Log4j/log4j-1.2-api-2.12.1-sources.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/Log4j/log4j-spring-cloud-config-client-2.12.1.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/Log4j/log4j-cassandra-2.12.1-sources.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/Log4j/log4j-slf4j18-impl-2.12.1-javadoc.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/Log4j/log4j-mongodb2-2.12.1-sources.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/Log4j/log4j-spring-cloud-config-client-2.12.1-javadoc.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/Log4j/log4j-to-slf4j-2.12.1.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/Log4j/log4j-mongodb3-2.12.1-javadoc.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/Log4j/log4j-jul-2.12.1-sources.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/Log4j/log4j-web-2.12.1.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/Log4j/log4j-api-2.12.1.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/Log4j/log4j-cassandra-2.12.1.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/Log4j/log4j-liquibase-2.12.1.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/Log4j/log4j-mongodb2-2.12.1-javadoc.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/Log4j/log4j-slf4j-impl-2.12.1.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/Log4j/log4j-jmx-gui-2.12.1-javadoc.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/Log4j/log4j-jpa-2.12.1-javadoc.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/Log4j/log4j-1.2-api-2.12.1.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/Log4j/log4j-slf4j18-impl-2.12.1.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/Log4j/log4j-jul-2.12.1-javadoc.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/Log4j/log4j-jpa-2.12.1-sources.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>